[global_config]
  always_split_with_profile = True
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, Logger, LaunchpadBugURLHandler
  suppress_multiple_term_dialog = True
  title_inactive_bg_color = "#f4e7ed"
  title_transmit_bg_color = "#888a85"
  title_transmit_fg_color = "#000000"
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  #[[default]]
  #  background_color = "#002b36"
  #  cursor_color = "#aaaaaa"
  #  font = Droid Sans Mono 10
  #  foreground_color = "#839496"
  #  palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
  #  use_system_font = False
  [[default]]
    # solarized-dark
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#586e75:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    foreground_color = "#eee8d5"
    background_color = "#002b36"
    cursor_color = "#eee8d5"
    use_system_font = False
  [[4k-solarized-dark]]
    background_color = "#002b36"
    cursor_color = "#D3D3D3"
    font = Droid Sans Mono 13
    foreground_color = "#839496"
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    use_system_font = False
  [[dev]]
    background_color = "#ffffff"
    cursor_color = "#000000"
    font = Droid Sans Mono 10
    foreground_color = "#000000"
    palette = "#2e3436:#cc0000:#4e9a06:#c4a000:#3465a4:#1932e6:#06989a:#d3d7cf:#555753:#ef2929:#8ae234:#9045ec:#729fcf:#1635e9:#4e6cda:#eeeeec"
    use_system_font = False
  [[solarized-dark]]
    background_color = "#002b36"
    cursor_color = "#D3D3D3"
    font = Droid Sans Mono 10
    foreground_color = "#839496"
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    scrollback_infinite = True
    scrollback_lines = 10000000
    use_system_font = False
  [[solarized-light]]
    background_color = "#eee8d5"
    cursor_color = "#002b36"
    foreground_color = "#002b36"
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
